<app-nav-bar-pacient></app-nav-bar-pacient>

<div class="card" style="width:400px">
  <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
  <div class="card-body">
    <h4 class="card-title">{{usuario.nombre}}</h4>
    <p class="card-text">{{usuario.telefono}}</p>
    <p class="card-text">{{usuario.CUI}}</p>
    <p class="card-text">{{usuario.direccion}}</p>
    <p class="card-text">{{usuario.telefono}}</p>
    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
  </div>
</div>
